//跑馬燈
.marqueeBox {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    background: $backgroundColor_2;
    box-sizing: border-box;
    padding-left: 15px;
    flex-shrink: 0;

    .marquee_ic {
        display: block;
        width: 18px;
        height: 18px;
        margin-right: 8px;
    }

    .marquee {
        width: 100%;
        height: auto;
        overflow: hidden;

        pre {
            display: inline-block;
            font-size: 13px;
            color: $font-color_1;
            animation: marquee 30s linear 0s infinite;
            padding-left: 100%;
        }

        @keyframes marquee {
            0% {
                transform: translateX(0%);
            }

            100% {
                transform: translateX(-100%);
            }
        }
    }
}

//登入區
.memberArea {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;

    //大登入按鈕
    .loginBtn {
        display: none;
        align-items: center;
        justify-content: center;
        background: $backgroundColor_4;
        width: 37.4vw;
        height: 100%;
        border-radius: 1.5vw 0 0 1.5vw;

        &.display {
            display: flex;
        }

        .login_ic {
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }

        span {
            font-size: 14px;
            font-weight: bold;
            color: $font-color_2;
        }
    }

    //大登入按鈕登入後樣式
    .alLogin {
        justify-content: center;
        align-items: center;
        padding: 0 1.33vw 0 2vw;
        background: $backgroundColor_4;
        width: 37.4vw;
        height: 100%;
        border-radius: 1.5vw 0 0 1.5vw;
        box-sizing: border-box;
        display: none;

        &.display {
            display: flex;
        }

        ul {
            width: 100%;
            height: auto;

            li {
                display: flex;
                height: 20px;
                align-items: center;
                margin-bottom: 5px;

                &:last-child {
                    margin: 0;
                }

                &.amount {
                    width: auto;
                    max-width: 33.76vw;
                    font-weight: bold;
                    font-size: 1rem;
                    color: $font-color_12;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .name {
                    width: auto;
                    max-width: 22.7vw;
                    height: auto;
                    font-size: 0.8rem;
                    font-weight: bold;
                    color: $font-color_12;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .lv {
                    width: auto;
                    height: 20px;
                    padding: 0 5px;
                    background: $linear_3;
                    font-size: .75rem;
                    font-weight: bold;
                    color: $font-color_5;
                    border-radius: 1.5vw;
                    border: solid 1px $borderColor_5;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    margin-left: 5px;
                    white-space: nowrap;
                }
            }
        }
    }

    //轉存提+vip
    .operate {
        background: $backgroundColor_4;
        border-radius: 0 1.5vw 1.5vw 0;
        width: 54.6vw;
        height: 100%;
        display: flex;
        align-items: center;

        .btnBox {
            width: 100%;
            height: 60px;
            border-left: solid 1px $borderColor_1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 8%;
            box-sizing: border-box;

            button {
                width: auto;
                height: auto;
                background: none;
            
                i {
                    display: block;
                    width: 7vw;
                    height: 7vw;
                    margin-bottom: 1vw;
                }
            }
        }
    }
}

//遊戲區
.homeCenter {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 15px 5px;
    margin-top: 8px;
    overflow: hidden;

    //遊戲種類選單
    .gameList {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 0;

        li {
            width: 18vw;
            height: 20%;
            margin-bottom: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 1px $borderColor_1;
            border-radius: 1.5vw;
            box-sizing: border-box;

            &.slotBtn,&.fishBtn {
                
                div {
                    padding: 0 9px 0px 8px;
                }
            }

            &.active {

                div {

                    p {
                        color: $font-color_3;
                    }
                }
            }

            div {
                width: 94%;
                height: 94%;
                box-sizing: border-box;
                padding: 0 16px 0 11px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border-radius: 1.5vw;
                border: solid 1px $borderColor_1;
                background: $linear_1;

                p {
                    font-size: 12px;
                    color: $font-color_1;
                }

                i {
                    display: block;
                    width: 8vw;
                    height: 8vw;
                    margin-bottom: 2vw;

                    &.slot_ic {
                        width: 9vw;
                        height: 5vw;
                    }
                    &.live_ic {
                        height: 7vw;
                    }
                    &.fish_ic {
                        width: 9vw;
                        height: 4.27vw;
                    }
                }
            }
        }
    }

    //遊戲選擇
    .gameBox {
        width: 100%;
        height: auto;
        display: none;
        overflow-y: auto;
        grid-template-columns: repeat(1,1fr);
        align-content: flex-start;
        font-size: 0;

        &.display {
            display: grid;
        }

        &.twins {
            grid-template-columns: repeat(2,1fr);
            grid-gap: 6vw 0;

            li {

                p {
                    right: 0;
                    bottom: -4vw;
                    width: 100%;
                    font-size: 3.7vw;
                    text-align: center;
                }
            }
        }

        li {
            width: auto;
            height: auto;
            position: relative;
            // border: solid 1px $borderColor_1;
            // border-radius: 1.5vw;
            // width: 30.4vw;
            // height: 23.2vw;
            // padding-top: 3px;
            // margin: 0 4px 5px 0;

            // &:nth-of-type(2n) {
            //     margin-right: 0;
            // }

            // img {
            //     border-radius: 1.5vw;
            //     border: solid 1px $borderColor_1;
            // }

            &.fixing {
                pointer-events: none;

                .fixBox {
                    display: flex;
                }
            }

            .fixBox {
                display: none;
                align-items: center;
                justify-content: center;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: $backgroundColor_3;
                border-radius: 5px;

                p {
                    color: $font-color_5;
                    font-size: 7vw;
                    font-weight: bold;
                }
            }

            &>p {
                position: absolute;
                right: 9vw;
                bottom: 6vw;
                width: auto;
                @include gameBox_Word;
                font-size: 5vw;
                // padding-top: 0.9vw;
                // color: $font-color_2;
                // font-size: 2vw;
                // font-weight: bold;
            }
        }
    }
}